USER_TOKEN={USER_DISCORD_TOKEN}
GROQ_API_KEY={KEY_TO_GROQ}
CHANNEL_{NAME1}={CHANNEL_ID_OF_{NAME1}
CHANNEL_{NAME2}={CHANNEL_ID_OF_{NAME2}
CHANNEL_{NAME...}={CHANNEL_ID_OF_{NAME...}
CHANNEL_{NAMEN}={CHANNEL_ID_OF_{NAMEN}
